html, body {
  font-family: 'Ubuntu', sans-serif !important;
  width: 100%;
  background: black;
  color: #828282 !important; }
  html h4, body h4 {
    color: white; }
  html h3, body h3 {
    margin: 0; }
  html p, body p {
    color: black; }
  html .row, body .row {
    margin: 0; }
  html .col-sm-3, html .col-sm-5, html .col-sm-2, html .col-sm-4, body .col-sm-3, body .col-sm-5, body .col-sm-2, body .col-sm-4 {
    margin: 0;
    padding: 0; }
  html div, body div {
    background: black; }
  html a:hover, body a:hover {
    text-decoration: none; }
  html a:focus, body a:focus {
    text-decoration: none; }

#header {
  position: relative;
  top: 40px; }
  #header .navbar, #header .navbar-default {
    position: absolute;
    background: white !important;
    z-index: 100;
    width: 100%; }
    #header .navbar .navbar-header, #header .navbar-default .navbar-header {
      padding-top: 2em; }
      #header .navbar .navbar-header .navbar-toggle, #header .navbar-default .navbar-header .navbar-toggle {
        background-image: none;
        border-width: 1px;
        border-style: solid;
        border-color: gray;
        border-radius: 4px;
        position: relative;
        right: 20px;
        top: -10px; }
        #header .navbar .navbar-header .navbar-toggle .sr-only, #header .navbar-default .navbar-header .navbar-toggle .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0; }
      #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
        position: relative;
        top: -8px;
        background: url("/media/brand-logo.png") top left no-repeat;
        background-size: 100%;
        color: transparent;
        margin-left: 2em;
        z-index: 100; }
    #header .navbar .navbar-collapse, #header .navbar-default .navbar-collapse {
      position: relative;
      padding-top: 2em; }
      #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
        position: relative;
        list-style-type: none;
        float: right; }
        #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
          padding-top: .7em;
          padding-bottom: .7em;
          border-right: solid;
          border-width: 1.5px;
          padding-right: 1em;
          padding-left: 1em; }
          #header .navbar .navbar-collapse ul li a, #header .navbar-default .navbar-collapse ul li a {
            color: black; }
        #header .navbar .navbar-collapse ul li:hover a, #header .navbar-default .navbar-collapse ul li:hover a {
          text-decoration: none;
          color: gray; }
        #header .navbar .navbar-collapse ul li:hover img, #header .navbar-default .navbar-collapse ul li:hover img {
          opacity: .5; }

.wb {
  background: white !important; }

.whiteBGsetup {
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid;
  border-width: 3px;
  border-color: rgba(50, 50, 50, 0.2);
  background: white; }

.overlay {
  background-color: rgba(208, 208, 208, 0.8);
  z-index: 4999;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed; }

.pop-up {
  width: 97%;
  border-radius: 15px;
  background: white;
  z-index: 5000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 87vh;
  padding-top: 1.5em;
  overflow-y: hidden; }
  .pop-up .scroll-div {
    overflow-y: scroll;
    max-height: 75vh;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 6em; }
  .pop-up h2, .pop-up h3, .pop-up p, .pop-up .container, .pop-up div, .pop-up a {
    background: white;
    color: black; }
  .pop-up h2 {
    padding: .5em 0 .5em 0;
    margin: 0; }
  .pop-up h3 {
    padding: 1em 0 1em 0;
    margin: 0; }

.section {
  min-height: 90vh !important;
  padding-top: 8em; }
  .section.work-section {
    margin-top: 2em; }
  .section .subsection {
    min-height: 15vh; }
    .section .subsection .container h2 {
      color: white;
      margin: 0; }
    .section .subsection .container a {
      text-decoration: none;
      cursor: pointer; }
      .section .subsection .container a:hover h2 {
        color: gray !important; }
      .section .subsection .container a:target {
        text-decoration: none; }
        .section .subsection .container a:target h2 {
          color: white !important; }
    .section .subsection .collapsible-div {
      padding-top: 1em;
      padding-bottom: 1em; }
      .section .subsection .collapsible-div .container a {
        line-height: 1em; }
      .section .subsection .collapsible-div .container ul {
        padding-top: .7em;
        line-height: 23px; }

#content #home .main-image h1 {
  color: white;
  position: relative;
  top: 350px; }

#content #about .about p {
  text-align: left;
  color: white;
  font-size: 21px;
  line-height: 35px;
  margin-bottom: 25px; }
  #content #about .about p a {
    color: white; }
  #content #about .about p a:hover {
    text-decoration: none; }
    #content #about .about p a:hover #bu {
      color: red; }
    #content #about .about p a:hover #rojo {
      color: red; }
    #content #about .about p a:hover #verde {
      color: green; }

#content #work .square-pair {
  width: 100%;
  height: 350px;
  margin: auto; }
  #content #work .square-pair .leftHalf {
    width: 50%;
    height: 350px;
    float: left; }
  #content #work .square-pair .rightHalf {
    margin-left: 50%;
    height: 350px;
    background: black; }
  #content #work .square-pair .sqr-img {
    background: url("/media/web-development.jpg") no-repeat;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-size: cover;
    background-position: center; }
    #content #work .square-pair .sqr-img img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      margin-top: -50px;
      /* Half the height */
      margin-left: -50px;
      /* Half the width */ }
    #content #work .square-pair .sqr-img.google {
      background: url("/media/app-development.jpg") center no-repeat;
      background-size: cover; }
      #content #work .square-pair .sqr-img.google img {
        width: 80px;
        height: 80px;
        margin-top: -40px;
        /* Half the height */
        margin-left: -40px; }
    #content #work .square-pair .sqr-img.research {
      background: url("/media/new_research_lab.JPG");
      background-size: 50%;
      background-position: left; }
      #content #work .square-pair .sqr-img.research img {
        width: 75px;
        height: 32.5px;
        margin-top: -5px;
        /* Half the height */
        margin-left: -30px; }
    #content #work .square-pair .sqr-img.free-lance {
      background: url("/media/freelance.png") center;
      background-size: 200px; }
      #content #work .square-pair .sqr-img.free-lance img {
        width: 100px;
        height: 100px;
        margin-top: -50px;
        /* Half the height */
        margin-left: -50px; }
  #content #work .square-pair .sqr-txt {
    padding-top: 5em; }
    #content #work .square-pair .sqr-txt h2 {
      color: white;
      text-align: center;
      font-size: 20px; }
    #content #work .square-pair .sqr-txt ul {
      text-align: center;
      list-style-type: none;
      padding: 0; }
      #content #work .square-pair .sqr-txt ul li:hover a {
        color: white;
        text-decoration: none; }
      #content #work .square-pair .sqr-txt ul li:target a {
        text-decoration: none; }
    #content #work .square-pair .sqr-txt.google, #content #work .square-pair .sqr-txt.research, #content #work .square-pair .sqr-txt.free-lance, #content #work .square-pair .sqr-txt.WebGL {
      padding-top: 8em; }

#content #resume .resume h4 {
  text-align: left; }

.title {
  text-align: left;
  background-color: black;
  color: white; }

.normal-padding {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px; }
  .normal-padding h3 {
    position: relative;
    top: -5px; }

#content-google-search-operator #Home .main-image {
  position: relative;
  top: 40px;
  min-height: 700px;
  background: url("/media/views/gso/coding.jpg") bottom right no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top; }
  #content-google-search-operator #Home .main-image h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 350px; }

@media screen and (min-width: 768px) {
  /*--iPad--*/
  #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
    top: 14px;
    left: -10px; }
  #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
    top: -30px; }
    #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
      display: inline; }
  #content #about .about .about-me {
    text-align: left; }
  #content #work .square-pair {
    width: 100%;
    height: 350px;
    margin: auto; }
    #content #work .square-pair .leftHalf {
      width: 50%;
      height: 350px;
      float: left; }
    #content #work .square-pair .rightHalf {
      margin-left: 50%;
      height: 350px;
      background: black; }
    #content #work .square-pair .sqr-img {
      background-attachment: fixed;
      background-size: cover; }
      #content #work .square-pair .sqr-img img {
        position: relative;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        margin-top: -200px;
        /* Half the height */
        margin-left: -200px;
        /* Half the width */ }
      #content #work .square-pair .sqr-img.google {
        background-attachment: fixed; }
        #content #work .square-pair .sqr-img.google img {
          width: 150px;
          height: 150px;
          margin-top: -75px;
          /* Half the height */
          margin-left: -75px; }
      #content #work .square-pair .sqr-img.research {
        background-attachment: fixed; }
        #content #work .square-pair .sqr-img.research img {
          width: 150px;
          height: 65px;
          margin-top: -35px;
          /* Half the height */
          margin-left: -75px; }
      #content #work .square-pair .sqr-img.free-lance {
        background-attachment: fixed; }
        #content #work .square-pair .sqr-img.free-lance img {
          width: 150px;
          height: 150px;
          margin-top: -75px;
          /* Half the height */
          margin-left: -75px; }
    #content #work .square-pair .sqr-txt {
      padding-top: 5em; }
      #content #work .square-pair .sqr-txt h2 {
        color: white;
        text-align: center;
        font-size: 30px; }
      #content #work .square-pair .sqr-txt ul {
        text-align: center;
        list-style-type: none;
        padding: 0; }
        #content #work .square-pair .sqr-txt ul li:hover a {
          color: white;
          text-decoration: none; }
        #content #work .square-pair .sqr-txt ul li:target a {
          text-decoration: none; }
      #content #work .square-pair .sqr-txt.google, #content #work .square-pair .sqr-txt.research, #content #work .square-pair .sqr-txt.free-lance {
        padding-top: 8em; }
  #footer .row .group_social ul {
    padding: 0; }
  #footer .row h5 {
    padding-top: 5px; } }

@media screen and (min-width: 800px) {
  /*--Monitor--*/
  #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
    left: 0;
    top: -9px; }
  #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
    top: 0; }
    #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
      display: inline; } }
