html, body {
  font-family: 'Ubuntu', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
  align: center;
  background: black; }
  html h4, body h4 {
    color: white; }
  html h3, body h3 {
    margin: none; }
  html p, body p {
    color: black; }

div {
  background: black; }

#WebGLAnimation {
  z-index: -1; }

.wb {
  background: white !important; }

.whiteBGsetup {
  margin-top: 2em;
  margin-bottom: 2em;
  border: solid;
  border-width: 3px;
  border-color: rgba(50, 50, 50, 0.2);
  background: white; }

#header {
  position: relative;
  top: 40px; }
  #header .navbar, #header .navbar-default {
    position: absolute;
    background: white !important;
    z-index: 100;
    width: 100%; }
    #header .navbar .navbar-header, #header .navbar-default .navbar-header {
      padding-top: 2em; }
      #header .navbar .navbar-header .navbar-toggle, #header .navbar-default .navbar-header .navbar-toggle {
        background-image: none;
        border-width: 1px;
        border-style: solid;
        border-color: gray;
        border-radius: 4px;
        position: relative;
        right: 20px;
        top: -10px; }
        #header .navbar .navbar-header .navbar-toggle .sr-only, #header .navbar-default .navbar-header .navbar-toggle .sr-only {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          overflow: hidden;
          clip: rect(0, 0, 0, 0);
          border: 0; }
      #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
        position: relative;
        top: -8px;
        background: url("/media/brand-logo.png") top left no-repeat;
        background-size: 100%;
        color: transparent;
        margin-left: 2em;
        z-index: 100; }
    #header .navbar .navbar-collapse, #header .navbar-default .navbar-collapse {
      position: relative;
      padding-top: 2em; }
      #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
        position: relative;
        list-style-type: none;
        float: right; }
        #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
          padding-top: .7em;
          padding-bottom: .7em;
          border-right: solid;
          border-width: 1.5px;
          padding-right: 1em;
          padding-left: 1em; }
          #header .navbar .navbar-collapse ul li a, #header .navbar-default .navbar-collapse ul li a {
            color: black; }
        #header .navbar .navbar-collapse ul li:hover a, #header .navbar-default .navbar-collapse ul li:hover a {
          text-decoration: none;
          color: gray; }
        #header .navbar .navbar-collapse ul li:hover img, #header .navbar-default .navbar-collapse ul li:hover img {
          opacity: .5; }

#content #Home .main-image {
  min-height: 700px;
  background: url("/media/space.jpg") bottom right no-repeat;
  background-size: cover;
  box-shadow: inset 200px 0px 100px 70px rgba(0, 0, 0, 0.5); }
  #content #Home .main-image h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 350px; }
#content #About .about p {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 50px; }
  #content #About .about p a {
    color: white; }
  #content #About .about p a:hover {
    text-decoration: none; }
    #content #About .about p a:hover #bu {
      color: red; }
    #content #About .about p a:hover #rojo {
      color: red; }
    #content #About .about p a:hover #verde {
      color: green; }
#content #Work .square-pair {
  width: 100%;
  height: 350px;
  margin: auto; }
  #content #Work .square-pair .leftHalf {
    width: 50%;
    height: 350px;
    float: left; }
  #content #Work .square-pair .rightHalf {
    margin-left: 50%;
    height: 350px;
    background: black; }
  #content #Work .square-pair .sqr-img {
    background: url("/media/web-development.jpg") no-repeat;
    /* Set a specific height */
    /* Create the parallax scrolling effect */
    background-size: cover;
    background-position: center; }
    #content #Work .square-pair .sqr-img img {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      margin-top: -50px;
      /* Half the height */
      margin-left: -50px;
      /* Half the width */ }
    #content #Work .square-pair .sqr-img.google {
      background: url("/media/app-development.jpg") center no-repeat;
      background-size: cover; }
      #content #Work .square-pair .sqr-img.google img {
        width: 80px;
        height: 80px;
        margin-top: -40px;
        /* Half the height */
        margin-left: -40px; }
    #content #Work .square-pair .sqr-img.research {
      background: url("/media/new_research_lab.JPG");
      background-size: 50%;
      background-position: left; }
      #content #Work .square-pair .sqr-img.research img {
        width: 75px;
        height: 32.5px;
        margin-top: -5px;
        /* Half the height */
        margin-left: -30px; }
    #content #Work .square-pair .sqr-img.free-lance {
      background: url("/media/freelance.png") center;
      background-size: 200px; }
      #content #Work .square-pair .sqr-img.free-lance img {
        width: 100px;
        height: 100px;
        margin-top: -50px;
        /* Half the height */
        margin-left: -50px; }
  #content #Work .square-pair .sqr-txt {
    padding-top: 5em; }
    #content #Work .square-pair .sqr-txt h2 {
      color: white;
      text-align: center;
      font-size: 20px; }
    #content #Work .square-pair .sqr-txt ul {
      text-align: center;
      list-style-type: none;
      padding: 0; }
      #content #Work .square-pair .sqr-txt ul li:hover a {
        color: white;
        text-decoration: none; }
      #content #Work .square-pair .sqr-txt ul li:target a {
        text-decoration: none; }
    #content #Work .square-pair .sqr-txt.google, #content #Work .square-pair .sqr-txt.research, #content #Work .square-pair .sqr-txt.free-lance, #content #Work .square-pair .sqr-txt.WebGL {
      padding-top: 8em; }
#content #Blog .fixed-height-blog {
  margin-top: 2em;
  margin-bottom: 2em;
  height: 650px;
  border: solid;
  border-right: none;
  border-left: none;
  border-width: 3px;
  border-color: white;
  overflow-y: scroll; }
  #content #Blog .fixed-height-blog a .blog-example {
    background-size: 200px;
    height: 180px;
    border: solid;
    border-width: 1px;
    background-color: black; }
    #content #Blog .fixed-height-blog a .blog-example .picture {
      position: relative;
      height: 174px;
      top: 2px; }
      #content #Blog .fixed-height-blog a .blog-example .picture.tlou {
        background: url("/media/blog/the_last_of_us.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.leonardo {
        background: url("/media/blog/before-the-flood.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.emotient {
        background: url("/media/blog/computer-vision.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.subliminal {
        background: url("/media/blog/subliminal-book.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.xolos {
        background: url("/media/blog/xolos.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.aviation {
        background: url("/media/blog/tlsp.jpg") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.slim {
        background: url("/media/blog/slim.png") center no-repeat;
        background-size: cover; }
      #content #Blog .fixed-height-blog a .blog-example .picture.latino-usa {
        background: url("/media/blog/latino-usa.jpg") center no-repeat;
        background-size: cover; }
    #content #Blog .fixed-height-blog a .blog-example .info {
      background: transparent; }
      #content #Blog .fixed-height-blog a .blog-example .info h5 {
        text-align: center;
        position: relative;
        top: -150px;
        color: white;
        text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; }
      #content #Blog .fixed-height-blog a .blog-example .info h5:hover {
        text-decoration: none; }
      #content #Blog .fixed-height-blog a .blog-example .info h5:target {
        text-decoration: none; }
  #content #Blog .fixed-height-blog a:hover, #content #Blog .fixed-height-blog a:target {
    text-decoration: none; }
#content #Resume .resume h4 {
  text-align: center; }

.title {
  text-align: center;
  background-color: black;
  color: white; }

.normal-padding {
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px; }
  .normal-padding h3 {
    position: relative;
    top: -5px; }

.project-images {
  padding-top: 1em;
  padding-bottom: 1em; }

#content-google-search-operator #Home .main-image {
  position: relative;
  top: 40px;
  min-height: 700px;
  background: url("/media/views/gso/coding.jpg") bottom right no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top; }
  #content-google-search-operator #Home .main-image h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 350px; }

#footer {
  position: relative;
  border-radius: 5px; }
  #footer .row .contact-info a h5 {
    text-align: center; }
  #footer .row .group_social ul {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    list-style-type: none;
    padding-left: 1em; }
    #footer .row .group_social ul .social-image {
      padding-left: 1em;
      position: relative;
      opacity: 0.5;
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      -webkit-transition: 0.2s ease;
      -moz-transition: 0.2s ease;
      transition: 0.2s ease;
      cursor: pointer;
      display: inline; }
      #footer .row .group_social ul .social-image img {
        height: 40px; }
    #footer .row .group_social ul .social-image:hover {
      opacity: 1; }
      #footer .row .group_social ul .social-image:hover img {
        text-decoration: none;
        transform: scale(1.3, 1.3);
        opacity: 1;
        z-index: 100; }
  #footer .row .top-button a h5 {
    text-align: center; }
  #footer .row .translate a {
    display: center;
    align: center; }
    #footer .row .translate a img {
      padding-top: 1em; }

@media screen and (min-width: 768px) {
  /*--iPad--*/
  #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
    top: 14px;
    left: -10px; }
  #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
    top: -30px; }
    #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
      display: inline; }

  #content #About .about .about-me {
    text-align: left; }
  #content #Work .square-pair {
    width: 100%;
    height: 350px;
    margin: auto; }
    #content #Work .square-pair .leftHalf {
      width: 50%;
      height: 350px;
      float: left; }
    #content #Work .square-pair .rightHalf {
      margin-left: 50%;
      height: 350px;
      background: black; }
    #content #Work .square-pair .sqr-img {
      background-attachment: fixed;
      background-size: cover; }
      #content #Work .square-pair .sqr-img img {
        position: relative;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 400px;
        margin-top: -200px;
        /* Half the height */
        margin-left: -200px;
        /* Half the width */ }
      #content #Work .square-pair .sqr-img.google {
        background-attachment: fixed; }
        #content #Work .square-pair .sqr-img.google img {
          width: 150px;
          height: 150px;
          margin-top: -75px;
          /* Half the height */
          margin-left: -75px; }
      #content #Work .square-pair .sqr-img.research {
        background-attachment: fixed; }
        #content #Work .square-pair .sqr-img.research img {
          width: 150px;
          height: 65px;
          margin-top: -35px;
          /* Half the height */
          margin-left: -75px; }
      #content #Work .square-pair .sqr-img.free-lance {
        background-attachment: fixed; }
        #content #Work .square-pair .sqr-img.free-lance img {
          width: 150px;
          height: 150px;
          margin-top: -75px;
          /* Half the height */
          margin-left: -75px; }
    #content #Work .square-pair .sqr-txt {
      padding-top: 5em; }
      #content #Work .square-pair .sqr-txt h2 {
        color: white;
        text-align: center;
        font-size: 30px; }
      #content #Work .square-pair .sqr-txt ul {
        text-align: center;
        list-style-type: none;
        padding: 0; }
        #content #Work .square-pair .sqr-txt ul li:hover a {
          color: white;
          text-decoration: none; }
        #content #Work .square-pair .sqr-txt ul li:target a {
          text-decoration: none; }
      #content #Work .square-pair .sqr-txt.google, #content #Work .square-pair .sqr-txt.research, #content #Work .square-pair .sqr-txt.free-lance {
        padding-top: 8em; }
  #content #Blog .fixed-height-blog a .blog-example .info h5 {
    text-align: left;
    top: 10; }
  #content #Blog .fixed-height-blog a .blog-example:hover .picture {
    opacity: .5; }
  #content #Blog .fixed-height-blog a .blog-example:hover h5 {
    color: gray; }

  #footer .row .group_social ul {
    padding: 0; }
  #footer .row h5 {
    padding-top: 5px; } }
@media screen and (min-width: 800px) {
  /*--Monitor--*/
  #header .navbar .navbar-header .navbar-brand, #header .navbar-default .navbar-header .navbar-brand {
    left: 0;
    top: -9px; }
  #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
    top: 0; }
    #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
      display: inline; } }

/*# sourceMappingURL=style.css.map */
