$normal-black : #373737;
$normal-red : #E40421;
$normal-blue: #3EC7C7;
$normal-gray: #d2d2d2;

html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	overflow-x: hidden;
	align: center;
	background: white;
	text-align:left;

	h4{
		color:white;
	}
	h3{
		margin: none;
	}
	p{
		color: black;
	}
}


#header {
	position:relative;
	.navbar, .navbar-default {
		background: $normal-black;
		width: 100%;
		height: 70px;
		border:none;
		z-index: 100;
		position:fixed;
		.navbar-header {

			.navbar-toggle{
			    
    			.sr-only{

    			}
			}
		} 
		.navbar-collapse {
			ul {
				position:relative;
				list-style-type: none;
				text-align: center;
				margin-top:1.5em;


				li{
					position:relative;
					border-right:solid;
					border-width:1px;
					border-color: $normal-gray;
					padding-top:2.2em;
					padding-bottom:1.65em;

					a {
						color: white;
						display:block;
						display: inline;
						padding-right:2em;
						padding-left: 2em;
						font-size: 21px;
					}
					a:hover{
						text-decoration: none;
						color:#C0B283;
					}
				}
				li:last-child {
					border:none;
				}

				li:hover {
					a{

						
					}
				}
			}
		}
	}
}


.white-bg {
	background:white;
	color: black;
	p{
		margin-top: 1px;
		color:white;
		background:$normal-black;
	}
	a{
		color: black;
	}
	a:hover{
		color: $normal-red;
		text-decoration: underline;
	}
}

.section {
	p {
		padding: .3em 0 .3em 1em;
		font-weight:400;
		text-transform: uppercase;
		font-size: 28px;
		font-weight: 200;
		letter-spacing: 1px;
	}

	ul{
		list-style: none;
		li{
			line-height:2.7em;
			a{
				font-size: 21px;
				letter-spacing: 1px;
			}
		}
		li:last-child{
			padding-bottom:2em;
		}
		li:hover{
			a{
				color: $normal-red;
			}
		text-decoration: underline;
	}
	}

}

.black-button{
	background: $normal-black !important;
	padding: .5em 1em .5em 1em;
	letter-spacing:2px;
	font-size: 18px;
	font-family:'Source Sans Pro', sans-serif;

}


#content {
	position:relative;
	top:50;
	#Home {
		.main-image {
			height: 360px;
			background: url("/chinap/media/main-imageori.jpg") bottom right no-repeat;
			background-size: cover;
			h1{
				position:relative;
				top:160px;
				color:white;
				text-align:center;
				text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
			}

		}
	}
	#directory {
		.directory-section {
			background-color:#F4F4F4;
			text-align: center;
			padding-bottom:1em;
			p {
				padding: 1.5em 0 .8em 1em;
				font-weight:400;
				text-transform: uppercase;
				font-size: 28px;
				font-weight: 200;
				letter-spacing: 1px;
				color: black;
			}
			a{
				border:solid;
				border-color:#C0B289;
				background-color:#C0B283;
				padding:.5em 0 .5em 0;
				margin-bottom: 2em;
				color:#F4F4F4;
				font-size: 18px;
				letter-spacing: 1px;
			}
			a:hover {
				text-decoration: none;
				background-color:#F4F4F4;
				color:#C0B283;
			}
		}
	}

	#contact-us{
		.form{
			p{
				padding: 1.5em 0 .8em 1em;
				text-transform: uppercase;
				text-align: center;
				font-size: 28px;
				letter-spacing: 1px;
				color: black;
			}
		}
		form{
			padding-top:1em;
			div {
				padding-bottom: 2em;
	      		input, textarea {
	       			background-color: #F4F4F4;
	        		border-radius: 0;
	        		border:none;
	        		box-shadow: none;
	        		font-size: 21px;
					letter-spacing: 1px;
	      		}	
	    	}
    	}
	}
}

#footer {
	background-color:$normal-black;
	position:relative;
	top:40px;
	height: 120px;
	.row {

		.idk{
			position:relative;
			text-align: center;
			top:50px;
			p{
			color: white;
			letter-spacing: 2px;
			}

		}
	}
}




@media screen and (min-width: 768px) { /*--iPad--*/

	#header {
		.navbar, .navbar-default{
			.navbar-header{
				.navbar-toggle{
					
				}
				.navbar-brand{
				}
			}
			.navbar-collapse{
				ul {					

					li{
						display: inline;
					}
				}
			}
		}
	}

	#content {

		
	}

	#footer{
		.row{
			
		}
	}
}

@media screen and (min-width: 800px) { 	/*--Monitor--*/

	#header {
		.navbar, .navbar-default{
			.navbar-collapse{
				ul {
					top:0;
					li{
						display: inline;
					}
				}
			}
		}
	}
}

