html, body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  overflow-x: hidden;
  align: center;
  background: white;
  text-align: left; }
  html h4, body h4 {
    color: white; }
  html h3, body h3 {
    margin: none; }
  html p, body p {
    color: black; }

#header {
  position: relative; }
  #header .navbar, #header .navbar-default {
    background: #373737;
    width: 100%;
    height: 70px;
    border: none;
    z-index: 100;
    position: fixed; }
    #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
      position: relative;
      list-style-type: none;
      text-align: center;
      margin-top: 1.5em; }
      #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
        position: relative;
        border-right: solid;
        border-width: 1px;
        border-color: #d2d2d2;
        padding-top: 2.2em;
        padding-bottom: 1.65em; }
        #header .navbar .navbar-collapse ul li a, #header .navbar-default .navbar-collapse ul li a {
          color: white;
          display: block;
          display: inline;
          padding-right: 2em;
          padding-left: 2em;
          font-size: 21px; }
        #header .navbar .navbar-collapse ul li a:hover, #header .navbar-default .navbar-collapse ul li a:hover {
          text-decoration: none;
          color: #C0B283; }
      #header .navbar .navbar-collapse ul li:last-child, #header .navbar-default .navbar-collapse ul li:last-child {
        border: none; }

.white-bg {
  background: white;
  color: black; }
  .white-bg p {
    margin-top: 1px;
    color: white;
    background: #373737; }
  .white-bg a {
    color: black; }
  .white-bg a:hover {
    color: #E40421;
    text-decoration: underline; }

.section p {
  padding: .3em 0 .3em 1em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 200;
  letter-spacing: 1px; }
.section ul {
  list-style: none; }
  .section ul li {
    line-height: 2.7em; }
    .section ul li a {
      font-size: 21px;
      letter-spacing: 1px; }
  .section ul li:last-child {
    padding-bottom: 2em; }
  .section ul li:hover {
    text-decoration: underline; }
    .section ul li:hover a {
      color: #E40421; }

.black-button {
  background: #373737 !important;
  padding: .5em 1em .5em 1em;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif; }

#content {
  position: relative;
  top: 50; }
  #content #Home .main-image {
    height: 360px;
    background: url("/chinap/media/main-imageori.jpg") bottom right no-repeat;
    background-size: cover; }
    #content #Home .main-image h1 {
      position: relative;
      top: 160px;
      color: white;
      text-align: center;
      text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black; }
  #content #directory .directory-section {
    background-color: #F4F4F4;
    text-align: center;
    padding-bottom: 1em; }
    #content #directory .directory-section p {
      padding: 1.5em 0 .8em 1em;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 200;
      letter-spacing: 1px;
      color: black; }
    #content #directory .directory-section a {
      border: solid;
      border-color: #C0B289;
      background-color: #C0B283;
      padding: .5em 0 .5em 0;
      margin-bottom: 2em;
      color: #F4F4F4;
      font-size: 18px;
      letter-spacing: 1px; }
    #content #directory .directory-section a:hover {
      text-decoration: none;
      background-color: #F4F4F4;
      color: #C0B283; }
  #content #contact-us .form p {
    padding: 1.5em 0 .8em 1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    letter-spacing: 1px;
    color: black; }
  #content #contact-us form {
    padding-top: 1em; }
    #content #contact-us form div {
      padding-bottom: 2em; }
      #content #contact-us form div input, #content #contact-us form div textarea {
        background-color: #F4F4F4;
        border-radius: 0;
        border: none;
        box-shadow: none;
        font-size: 21px;
        letter-spacing: 1px; }

#footer {
  background-color: #373737;
  position: relative;
  top: 40px;
  height: 120px; }
  #footer .row .idk {
    position: relative;
    text-align: center;
    top: 50px; }
    #footer .row .idk p {
      color: white;
      letter-spacing: 2px; }

@media screen and (min-width: 768px) {
  /*--iPad--*/
  #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
    display: inline; } }
@media screen and (min-width: 800px) {
  /*--Monitor--*/
  #header .navbar .navbar-collapse ul, #header .navbar-default .navbar-collapse ul {
    top: 0; }
    #header .navbar .navbar-collapse ul li, #header .navbar-default .navbar-collapse ul li {
      display: inline; } }

/*# sourceMappingURL=style.css.map */
